*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  background:url('assets/background.jpg') center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.75);
}

.container{
  position:relative;
  width:90%;
  max-width:420px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  backdrop-filter:blur(12px);
  padding:35px;
  border-radius:20px;
  text-align:center;
  color:white;
  z-index:2;
  box-shadow:0 0 30px rgba(0,0,0,0.5);
}

.logo{
  width:100px;
  margin-bottom:15px;
}

h1{
  font-size:32px;
  margin-bottom:10px;
  color:#ff3b3b;
}

p{
  color:#ccc;
  margin-bottom:25px;
  line-height:1.5;
}

button{
  width:100%;
  border:none;
  padding:15px;
  border-radius:12px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
  margin-top:12px;
}

.discord-btn{
  background:#5865F2;
  color:white;
}

.discord-btn:hover{
  transform:scale(1.03);
}

.claim-btn{
  display:none;
  background:linear-gradient(135deg,#ff0000,#ff7300);
  color:white;
}

.claim-btn:hover{
  transform:scale(1.03);
}

.success{
  margin-top:20px;
  color:#00ff95;
  display:none;
  font-weight:bold;
}

.code-box{
  margin-top:20px;
  background:rgba(255,255,255,0.08);
  border:1px solid rgba(255,255,255,0.15);
  padding:15px;
  border-radius:12px;
  display:none;
  font-size:24px;
  font-weight:bold;
  letter-spacing:2px;
  color:#ffcc00;
}